body, p, li {
  font: normal 14px/1.57em "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Helvetica Neue",Arial,Helvetica,sans-serif;  
  color:#555;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.layout-page h1, .layout-page h2, .layout-page h3, .layout-page h4 {
  margin-bottom:10px;
  padding-top:10px;
}
.layout-page h2 {font-size:22px}
.layout-page h3 {font-size:18px}
.layout-page h4 {font-size:14px}

.layout-page h1 { 
  margin:20px -20px;
  color:#AB3E5B;
  border-top:1px solid #B3CC57;
}
.layout-page h2 {
  margin:10px 0 ;
}

.layout-page, .layout-page p, .layout-page li {
  font-size:16px; 
}
.inner {
  padding:0 40px;
}
#right-pane {
  text-align:right;
}
/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}