#toc {padding:10px}
#toc ul { margin:0; padding:0}
#toc ul li { list-style:none;  line-height:1.9em}
#toc ul li strong { 
  padding:3px 8px;  background:#eee; border-radius:2px;
  
}
#toc ul li.sub {
  margin-left:10px;
  
}
#toc ul li a { color:#555; text-decoration:none }
#toc ul li a:hover {text-decoration:underline}