---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="{{ paths.theme }}/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

   <body id="" class="">
     <div id="outer_wrapper">
       <div id="wrapper">
         <div id="header">
           <h1 id="branding"><a href="{{ paths.base }}">Meep</a></h1>
           <ul id="nav" class="navigation">
            {{#site.navigation?to_pages }}
             <li><a href="{{url}}">{{title}}</a></li>
            {{/site.navigation?to_pages }}
           </ul>

           <ul id="pages" class="navigation">

           </ul>

           <div class="about">
             <p>meep meep</p>
           </div>
         </div>

         <div class="article_header">
           <div></div>
         </div>

         <div class="main">

          {{ content }}
         </div>

         <div id="sidebar" style="text-align:right">
           <ul class="tags">
           {{#page.tags?to_tags}}
             {{>tags_list}}
           {{/page.tags?to_tags}}
           </ul>
           
           <div class="blog_nav">
             <div class="prev_next">
              {{# page?previous }}
               <a rel="prev" href="{{url}}">« Prev</a>
              {{/ page?previous }} 
              {{# page?next }}
                <a rel="prev" href="{{url}}">Next »</a>
              {{/ page?next }}
             </div>
           </div> 
           <p class="credits">
             <a href="http://www.robbiemanson.com/resources/vignelli-minimal-tumblr-theme/">Vignelli</a> theme
             <br> by Robbie Manson</a>
          </p>
         </div>

       </div>



     </div>
  
     
  {{{ table-of-contents }}}
  {{{ _syntax }}}
  {{{ _analytics }}}
  </body>
</html>