---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="{{ paths.theme }}/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

   <body id="" class="">
     <div id="outer_wrapper">
       <div id="wrapper">
         <div id="header">
           <h1 id="branding"><a href="{{ paths.base }}">Meep</a></h1>
           <ul id="nav" class="navigation">
            {{#site.navigation?to_pages }}
             <li><a href="{{url}}">{{title}}</a></li>
            {{/site.navigation?to_pages }}
            <!--<li><a href="http://apsurd.tumblr.com/rss">RSS</a></li>
            -->
           </ul>

           <ul id="pages" class="navigation">

           </ul>

           <div class="about">
             <p></p>
           </div>
         </div>

         <div class="article_header">
           <div></div>
         </div>

         <div class="main">

          {{ content }}
         </div>

         <div id="sidebar">
         </div>

       </div>



     </div>
  
  <div id="toc"></div>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
    // Table Of Contents
    var Toc = {
      $container : null,
      $wrapper : null,

      init : function(container, wrapper){
        Toc.$container = $(container);
        Toc.$wrapper = $(wrapper);

        Toc.build();
        Toc.toggle();
        $(window).resize(function(){ Toc.toggle() })
      },

      build : function(){
        var h1 = [];
        var h2 = [];

        Toc.$wrapper.find("h1").each(function(){
          var h = {h1 : this, children : null }
          h.children = $(this).nextUntil("h1", "h2");
          h1.push(h);
        })
        var cache = "<ul class='nest'>";
        h1.forEach(function(node){
          cache += '<li><strong><a href="#'+ node.h1.id + '">'+$(node.h1).text()+'</a></strong></li>';

          node.children.each(function(){
            cache += '<li class="sub"><a href="#'+ this.id + '">'+ $(this).text() + '</a></li>';
          })
        })
        cache += "</ul>";

        Toc.$container.append(cache);
      },

      toggle :function(){
        if($(window).width() > 1000) Toc.$container.show();
        else Toc.$container.hide();
      }
    }
    
    
    Toc.init('#toc', '.post_content');
    
  </script>
<style type="text/css">
  #toc {
    position:fixed;
    top:10px;
    background:#FFF;
    padding:5px;
  }
  #toc ul { margin:0; line-height:1.9em }
  #toc ul li { list-style:none;  }
  #toc ul li strong { padding:2px 6px; border:1px solid #ccc; background:#eee; color:#333 }
  #toc ul li.sub {
    margin-left:10px;
    
  }
  #toc ul li a { color:#555; }
</style>

  {{{ _syntax }}}
  {{{ _analytics }}}
  </body>
</html>