---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="{{ paths.theme }}/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

   <body id="" class="">
     <div id="outer_wrapper">
       <div id="wrapper">
         <div id="header">
           <h1 id="branding"><a href="{{ paths.base }}">Meep</a></h1>
           <ul id="nav" class="navigation">
            {{#site.navigation?to_pages }}
             <li><a href="{{url}}">{{title}}</a></li>
            {{/site.navigation?to_pages }}
            <!--<li><a href="http://apsurd.tumblr.com/rss">RSS</a></li>
            -->
           </ul>

           <ul id="pages" class="navigation">

           </ul>

           <div class="about">
             <p></p>
           </div>
         </div>

         <div class="article_header">
           <div></div>
         </div>

         <div class="main">

          {{ content }}
         </div>

         <div id="sidebar">

         </div>

       </div>



     </div>

  {{{ syntax }}}
  {{{ analytics }}}
  </body>
</html>